doctype html
html
	head
		include global_stylesheets
		link(rel='stylesheet', href='/editprofile.css')
		link(rel='stylesheet', href='/location.css')
	body
		include navbar

		.container
			h1.mt-white.text-center.mt-5.display-3#heading Edit the Profile of #{username}

		.container.mx-auto.my-3(style='max-width: 1200px;')
			.card.mx-auto.profile-card(style='max-width: 1200px;')
				if imageExists
					img.img-fluid.w-100(src=userImage, alt='User Image')
				else
					img.img-fluid.w-100(src='https://res.cloudinary.com/ddrrwygt1/image/upload/v1591020994/images_rxeryf.png', alt='No Image Available')
				br
				a#UpdateImg.btn.btn-success.btn-block.btn-lg.butt(href='/user/images') Change Image(s)

				.card-body.profile-card
					h4.card-title.text-center Public Details
					hr
					form#account(name="account", action='', method='POST' novalidate)
						.form-group.text-center
							label(for='name' style="font-size: 3vw") Name:
							br
							label( style="font-size: 2vw") First Name
							input#userName.form-control(type='text' placeholder='First Name' name='userName' value=userFirstName style="width: 300px")
							p#firstNameError
							label( style="font-size: 2vw") Last Name
							input#userSurname.form-control(type='text' placeholder='Last Name' name='userSurname' value=userLastName style="width: 300px")
							p#surnameError
							if (age)
								label(for='age' style="font-size: 2vw") Age
								p#AgeDisplay #{age} 
								| (Don't bother finding a way to change this... You can't change your birth)

						.form-group.text-center
							label(for='gender' style="font-size: 2vw") Gender
							br
							if userGender === 'Male'
								select#userGender.custom-select(name='gender' style="width: 300px")
									option(value='Male') Male
									option(value='Female') Female
									option(value='NB') Non-Binary
									
							else if userGender === 'Female'
								select#userGender.custom-select(name='gender' style="width: 300px")
									option(value='Female') Female
									option(value='NB') Non-Binary
									option(value='Male') Male
							else
								select#userGender.custom-select(name='gender' style="width: 300px")
									option(value='NB') Non-Binary
									option(value='Male') Male
									option(value='Female') Female
						.form-group.text-center
							label(for='orientation' style="font-size: 2vw") Sexual Orientation
							br
							if userOrientation === 'hetero'
								select#userSexPref.custom-select(name='sexPref' style="width: 300px")
									option(value='hetero') Heterosexual
									option(value='homo') Homosexual
									option(value='bi') Bisexual
									option(value='pan') Pansexual
									option(value="aro") Aromantic
									option(value="ace") Asexual
							
							else if userOrientation === 'homo'
								select#userSexPref.custom-select(name='sexPref' style="width: 300px")
									option(value='homo') Homosexual
									option(value='hetero') Heterosexual
									option(value='bi') Bisexual
									option(value='pan') Pansexual
									option(value="aro") Aromantic
									option(value="ace") Asexual

							else if userOrientation === 'bi'
								select#userSexPref.custom-select(name='sexPref' style="width: 300px")
									option(value='bi') Bisexual
									option(value='homo') Homosexual
									option(value='hetero') Heterosexual
									option(value='pan') Pansexual
									option(value="aro") Aromantic
									option(value="ace") Asexual
									
							else if userOrientation === 'ace'
								select#userSexPref.custom-select(name='sexPref' style="width: 300px")
									option(value="ace") Asexual
									option(value="aro") Aromantic
									option(value='bi') Bisexual
									option(value='homo') Homosexual
									option(value='hetero') Heterosexual
									option(value='pan') Pansexual

							else if userOrientation === 'aro'
								select#userSexPref.custom-select(name='sexPref' style="width: 300px")
									option(value="aro") Aromantic
									option(value="ace") Asexual
									option(value='bi') Bisexual
									option(value='homo') Homosexual
									option(value='hetero') Heterosexual
									option(value='pan') Pansexual
							else if userOrientation === 'pan'
								select#userSexPref.custom-select(name='sexPref' style="width: 300px")
									option(value='pan') Pansexual
									option(value="aro") Aromantic
									option(value="ace") Asexual
									option(value='bi') Bisexual
									option(value='homo') Homosexual
									option(value='hetero') Heterosexual
							else
								select#userSexPref.custom-select(name='sexPref' style="width: 300px")
									option(value='pan') Pansexual
									option(value='bi') Bisexual
									option(value='homo') Homosexual
									option(value='hetero') Heterosexual
									option(value="aro") Aromantic
									option(value="ace") Asexual
						hr
						h4.profile-card.card-title.text-center Bio
						textarea#userBio(placeholder='Biography' name='userBio' form="account" rows='3').form-control= userBio

						hr
						p.h5.text-center Your current list of interests:
						each val in userInterests
							span.badge.badge-primary.mx-1(style="font-size: 2vw") #{val.interest}
						hr

						button#UpdateAcc.btn.btn-success.btn-block.btn-lg.butt(type='button', onclick='postPublicDetails()', value='account') Update Profile
						p#deetsPara.text-success.pl-3

		if !age
			.container.mx-auto.my-3(style='max-width: 1200px;')
				.card.mx-auto.profile-card(style='max-width: 1200px;')
					.card-body.text-center
						h4.card-title Date of Birth
						hr
						input#userDOB.form-control(type="date" name="DOB")
						button#UpdateDOB.butt.btn.btn-success.btn-block.btn-lg(type='button', onclick='updateDoB()', value='dob') Set Date of Birth
						p#dobPara.text-success.pl-3

		.container.mx-auto.my-3(style='max-width: 1200px;')
			.card.mx-auto.profile-card(style='max-width: 1200px;')
				.card-body.text-center
					h4.card-title Location
					br
					input#pac-input.form-control(type='text' placeholder='Enter a location' style="width: 300px")
					#map
					p#locPara.text-success.pl-3

		.container.mx-auto.my-3(style='max-width: 1200px;')
			.card.mx-auto.profile-card(style='max-width: 1200px;')
				.card-body.text-center
					h4.card-title Add Interests
					small#HelpBlock.form-text.text-muted
						| You can add multiple interests at a time, remember: ya gotta ADD a hashtag and leave a space between. Example: #food #tacos
					br
					form#addInterests(name="interests", action='', method='POST' novalidate, onsubmit='return false')
						input#userInterests.form-control(type='text' placeholder='Interests' name='userInterests' style="width: 300px")
						br
						button#AddInterest.btn.btn-success.btn-block.btn-lg.butt(type='button', onclick='add_interest()' value='interests') Update Interests
					p#interestAError
					p#interestsPara.text-success.pl-3

		.container.mx-auto.my-3(style='max-width: 1200px;')
			.card.mx-auto.profile-card(style='max-width: 1200px;')
				.card-body.text-center
					h4.card-title Remove Interests
					small#HelpBlock.form-text.text-muted
						| You can remove multiple interests at a time, remember: ya gotta ADD a hashtag and leave a space between. Example: #food #tacos
					br
					form#removeInterests(name="interests", action='', method='POST' novalidate, onsubmit='return false')
						input#removedInterests.form-control(type='text' placeholder='Interests' name='userInterests' style="width: 300px")
						br
						button#RemoveInterest.btn.btn-success.btn-block.btn-lg.butt(type='button', onclick='remove_interest()' value='interests') Update Interests
					p#interestRError
					p#interestsRemovedPara.text-success.pl-3

		.container.mx-auto.my-3(style='max-width: 1200px;')
			.card.mx-auto.profile-card(style='max-width: 1200px;')
				.card-body.text-center
					h4.card-title Username
					small#usernameHelpBlock.form-text.text-muted
						| All usernames will be forced to lower case.
					br
					input#userLogin.form-control(type='text' placeholder='Username' name='userLogin' value=username style="width: 300px")
					br
					button#updateUsername.btn.btn-success.btn-block.btn-lg.butt(type='button', onclick='changeUsername()', value='username') Update Username
					p#unamePara.text-success.pl-3

		.container.mx-auto.my-3(style='max-width: 1200px;')
			.card.mx-auto.profile-card(style='max-width: 1200px;')
				.card-body.text-center
					h4.card-title Email
					br
					input#Email.form-control(type='email' placeholder='Email' name='Email' value=Email style="width: 300px")
					br
					button#updateEmail.btn.btn-success.btn-block.btn-lg.butt(type='button', onclick='changeEmail()', value='email') Update Email
					p#emailPara.text-success.pl-3

		.container.mx-auto.my-3(style='max-width: 1200px;')
			.card.mx-auto.profile-card(style='max-width: 1200px;')
				.card-body.text-center
					h4.card-title Password
					small#passwordHelpBlock.form-text.text-muted
						| Your password must be 8 characters long and contain letters and numbers. It must not contain spaces, special characters, or emojis.
					br
					label(for='pass') New Password
					input#userNewPass.form-control(type='password' placeholder='New Password' name='userNewPass' style="width: 300px")
					br
					button#updatePassword.btn.btn-success.btn-block.btn-lg.butt(type='button', onclick='changePassword()', name='password', disabled='true') Update Password
					p#pwPara.text-success.pl-3
					p#pwParaE.text-danger.pl-3
			

		include footer

		include global_scripts
		script(src="/location.js")
		script(src="/account.js")
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAQzFAmjAdYsqaKwRd-ppMpBzbDH-30t3g&libraries=places&callback=initMap' async='' defer='')

