doctype html
html(charset="utf8mb4")
	head
		include global_stylesheets		
		link(rel='stylesheet', href='/chat.css')
		link(rel='stylesheet', href='/emojionearea.min.css')
		link(rel='stylesheet', href='/sweetalert2.css')
	body
		include navbar.pug

		.container
			h3.text-center.my-3.mt-white.display-3#heading Chats here

		.container-fluid
			.row.justify-content-center
				.col-md-4.col-xl-3.chat
					.card.mb-sm-3.mb-md-0.contacts_card.card-contact
						.card-header
							h4.text-center Contacts
						
						.card-body.contacts_body.text-center
							ul.contacts
								each user in friendList
									if user.liker === activeChat
										li.py-2.active(id=user.liker)
											.d-flex.bd-highlight(onclick="chatActivinator('"+user.liker+"');")
												.user_info
													span.selectedchat.text-center * #{user.liker} *
									else
										li.py-2(id=user.liker)
											.d-flex.bd-highlight(onclick="chatActivinator('"+user.liker+"');")
												.user_info
													span.text-center #{user.liker}
						.card-footer
				.col-md-6.col-xl-6.chat
					.card#msgWrap.card-chat
						.card-header.msg_head
							.d-flex.bd-highlight
								.user_info
									if !activeChat
										span#ChatWith.text-center Select a Chat first:
									else
										span#ChatWith.text-center Conversation with #{activeChat}
									
						.card-body.msg_card_body#populateme
									
						.card-footer(style='cursor: pointer')
							.input-group
								.input-group-append
											
								input#messageBody.form-control.type_msg(type='textarea' placeholder='Type your message...')
								.input-group-append
									a#sendMsg.input-group-text.send_btn(type='button' onclick="messenger('"+activeChat+"');")
										| SEND



	include footer

	include global_scripts
	script(src="/chat.js")
	if friendList.length == 0
		script.
			swal({
				title: 'No Matches',
				text: `You need matches to chat to!`,
				imageUrl: 'https://res.cloudinary.com/ddrrwygt1/image/upload/v1594136861/alerts/nomatch_vpztms.jpg',
				imageWidth: 400,
				imageHeight: 400,
				imageAlt: 'Pass Change'
			})
