doctype html
html(charset="utf8mb4")
	head
		include global_stylesheets		
		link(rel='stylesheet', href='/chat.css')
		link(rel='stylesheet', href='/emojionearea.min.css')
		link(rel='stylesheet', href='/sweetalert2.css')
	body
		include navbar.pug

		.container
			h3.text-center.my-3.mt-white.display-3#heading Chats here

		.container-fluid
			.row.justify-content-center
				.col-md-4.col-xl-3.chat
					.card.mb-sm-3.mb-md-0.contacts_card
						.card-header
							h4.text-center Contacts
						
						.card-body.contacts_body
							ul.contacts
								each user in friendList
									if user.liker === activeChat
										li.py-2.active(id=user.liker)
											.d-flex.bd-highlight(onclick="setActive('"+user.liker+"');")
												.user_info
													span.selectedchat(style="color: blue; font-weight: bold") * #{user.liker} *
									else
										li.py-2(id=user.liker)
											.d-flex.bd-highlight(onclick="setActive('"+user.liker+"');")
												.user_info
													span #{user.liker}
						.card-footer
				.col-md-1.col-xl-6.chat
					.card#msgWrap
						.card-header.msg_head
							.d-flex.bd-highlight
								.user_info
									if !activeChat
										span#ChatWith Select a Chat first:
									else
										span#ChatWith Conversation with #{activeChat}
									
						.card-body.msg_card_body#populateme
									
						.card-footer(style='cursor: pointer')
							.input-group
								.input-group-append
											
								input#messageBody.form-control.type_msg(type='textarea' placeholder='Type your message...')
								.input-group-append
									button#sendMsg.input-group-text.send_btn(type='button' onclick="sendMessage('"+activeChat+"');")
										i.fa.fa-location-arrow(aria-hidden='true')


	include footer

	include global_scripts
	script(src="/chat.js")
	if friendList.length == 0
		script.
			swal(
				'No Matches',
				'You need matches to chat to!',
				'error'
			)
